.square-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;
    width: 200px;
    height: 150px;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--white);
    cursor: pointer;
}
.square-card:hover{
    box-shadow: 0 0 3px 2px var(--lightGrey);
}
.square-card .title{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
}
.labels{
    display: flex;
    gap: 0.2rem;
    font-size: 0.65rem;
}
.labels label{
    padding:  0.25rem;
    color: white;
    border-radius: 5px;
}
.total-count{
    font-weight: 500;
    font-size: 3rem;
}

.round-icon{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--white);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Background type */
.text-blue{
    color: #60A5FA;
}
.text-red{
    color: #FEE2E2;
}
.text-yellow{
    color: #FBBF24;
}
.text-green{
    color: #34D399;
}

.bg-blue{
    background-color: #60A5FA;
}
.bg-red{
    background-color: #FEE2E2;
}
.bg-yellow{
    background-color: #FBBF24;
}
.bg-green{
    background-color: #34D399;
}

.bg-light-blue{
    background-color: #DBEAFE;
}
.bg-light-red{
    background-color: #FEE2E2;
}
.bg-light-yellow{
    background-color: #FEF3C7;
}
.bg-light-green{
    background-color: #D1FAE5;
}

.gap-10x{
    gap: 10px;
}